{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="row mt-4">
  <div class="col-12">
    <div class="card shadow">
      <!-- Card header -->
      <div class="card-header bg-gradient-dark text-white">
        <h5 class="mb-0 text-white"><i class="material-icons-round me-2">group</i> Daftar Pengguna</h5>
      </div>

      <!-- Tabel -->
      <div class="table-responsive p-3">
        <table class="table table-bordered table-hover align-middle" id="datatable-search">
          <thead class="table-light text-center">
            <tr>
              <th>No</th>
              <th>Username</th>
              <th>Nama Lengkap</th>
              <th>Status</th>
              <th>Grup</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            {% for user in daftar_user %}
            <tr>
              <td class="text-center">{{ forloop.counter }}</td>
              <td><span class="badge bg-success">{{ user.username }}</span></td>
              <td style="color: #007bff;">{{ user.first_name|default:"-" }} {{ user.last_name|default:"-" }}</td>
              <td class="text-center">
                {% if user.is_staff %}
                <span class="badge bg-gradient-success"><i class="fas fa-check-circle me-1"></i> Staff</span>
                {% else %}
                <span class="badge bg-gradient-danger"><i class="fas fa-user me-1"></i> User</span>
                {% endif %}
              </td>
              <td class="text-center">
                {% for group in user.groups.all %}
                <span class="badge bg-dark">{{ group.name }}</span>
                {% empty %}
                <span class="badge bg-secondary">-</span>
                {% endfor %}
              </td>
              <td class="text-center">
                <a href="{% url 'admin_management_user_edit' user.id %}" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i>Edit</a>
                <a class="btn btn-sm btn-danger" onclick="return confirm('Yakin ingin menghapus user ini?')"><i class="fas fa-trash-alt"></i>Delete</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'dashboard/assets/js/plugins/datatables.js' %}"></script>
<script>
  const dataTableSearch = new simpleDatatables.DataTable("#datatable-search", {
    searchable: true,
    fixedHeight: true
  });
</script>
{% endblock %}
