{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark shadow fixed-top py-3 animated-navbar">
  <div class="container">
    <a class="navbar-brand fw-bold text-white" href="/">
      <i class="material-icons-round me-1">dynamic_feed</i> SEN Blog
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
    aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
    <span class="material-icons-round bg-light"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav ms-auto align-items-center">

        <!-- Gallery -->
        <li class="nav-item me-3">
          <a class="nav-link text-white d-flex align-items-center" href="{% url 'gallery' %}">
            <i class="material-icons-round me-1">photo_library</i> Gallery
          </a>
        </li>

        {% if user.is_authenticated %}
        <!-- Dropdown User -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white d-flex align-items-center" href="#" id="navbarDropdown" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{% static 'dashboard/assets/img/default-avatar.png' %}"
          onerror="this.onerror=null;this.src='https://ui-avatars.com/api/?name={{ user.get_full_name|default:user.username|urlencode }}&background=0D8ABC&color=fff&size=64';"
          class="rounded-circle me-2" width="32" height="32" alt="avatar">
          {{ user.get_full_name|default:user.username }}
        </a>
          <ul class="dropdown-menu dropdown-menu-end shadow-sm rounded-3 border-0 py-2" style="min-width: 200px;">
            <li>
              <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="/dashboard">
                <i class="material-icons-round text-primary" style="font-size: 20px;">dashboard</i>
                <span>Dashboard</span>
              </a>
            </li>
            <li><hr class="dropdown-divider my-1"></li>
            <li>
              <a class="dropdown-item d-flex align-items-center gap-2 py-2 text-danger" href="{% url 'logout' %}">
                 <i class="material-icons-round" style="font-size: 20px;">logout</i>
                 <span>Logout</span>
              </a>
              </li>
            </ul>
        </li>
        {% else %}
        <!-- Tombol Login -->
        <li class="nav-item">
          <a href="/auth-login" class="btn btn-light btn-sm ms-2">
            <i class="material-icons-round me-1">login</i> Login
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
