{% load static %}
<nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3 navbar-transparent">
  <div class="container">
    <a class="navbar-brand text-white d-none d-md-block" href="/">SEN Blog</a>

    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mt-2">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </span>
    </button>

    <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
      <ul class="navbar-nav navbar-nav-hover ms-auto">
        <li class="nav-item mx-2">
          <a class="nav-link text-white d-flex align-items-center" href="{% url 'gallery' %}">
            <i class="material-icons opacity-6 me-2 text-md">photo_library</i> Gallery
          </a>
        </li>

        {% if user.is_authenticated %}
        <!-- Dropdown User -->
        <li class="nav-item dropdown mx-2">
          <a class="nav-link dropdown-toggle text-white d-flex align-items-center" href="#" id="navbarUserDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="material-icons me-2">account_circle</i> {{ user.username }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarUserDropdown">
            <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
        {% else %}
        <!-- Tombol Login -->
        <li class="nav-item">
          <a href="/auth-login" class="btn btn-sm bg-gradient-primary mb-0 me-1">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
